{
  "rules": {
    "block-scoped-var": 1,
    "brace-style": [2, "1tbs"],
    "comma-dangle": [2, "never"],
    "curly": [2, "all"],
    "default-case": 1,
    "dot-location": [2, "property"],
    "indent": ["error", 2],
    "linebreak-style": 0,
    "no-cond-assign": [2, "except-parens"],
    "no-floating-decimal": 1,
    "radix": 1,
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "strict": [2, "function"],
    "valid-jsdoc": 0,
    "eol-last": ["warn", "unix"],
    "no-trailing-spaces": ["warn"],
    "prefer-const": [
      "error",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}
