
module.exports = {
  // bundles: [
  //   './src/*.ts',
  //   './src/services/index.ts',
  //   './src/components/*/index.ts',
  // ],
  bundles: {
    'main': './src/main.ts',
    'services': './src/services/index.ts',
    'components/my-button': './src/components/my-button/index.ts',
    'components/my-header': './src/components/my-header/index.ts',
  },
  vendorChunks: [
    '@biotope/element',
  ],
  paths: {
    distFolder: 'dist',
    vendorFolder: 'vendor',
  },
};
