.overview {
  font-family: 'Droid Sans', sans-serif;
}

.overview img {
  width: 50px;
}

.overview header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.overview header h1 {
  display: inline-block;
  margin-bottom: 6px;
  margin-left: 10px;
}