@import './useful';

body {
  padding: 0;
  margin: 0;
  border: 0;

  #root {
    display: grid;
  }

  .my-cute-class {
    margin: auto;
    color: $COLORS_PRIMARY;
    z-index: $PRIORITY_LAYER;
  }
}

html,
body,
#root {
  @include full;
}
