@import '~@biotope/element/lib/host.mixin';

@include host(bio-world);

.container {
  display: block;
}

.text {
  color: dodgerblue;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
}

.image {
  width: 100px;
  height: 100px;

  svg {
    min-width: 100px;
  }
}
